// @import "*";
// @import "*";
@import "foundation_and_overrides";

body{
  font-size: 1em;
}

a {
  color: black;
}



.sign-in {
  float: right;
}

.word-dets {
  font-family: "Palatino Linotype";
}

.close-btn{
  float: right;
}

.nav-buttons {
  background-color: #FFDB00;
  margin-bottom: 50px;
  height: 70px;
}

.button{
  background-color: #FFDB00;
  color: black;
}

button.button.facebook {
  background-color: #3B5998;
  color: white;
  height: 40px;
}

button.button.facebook:hover {
  background-color: #4285F4;
  color: white;
  height: 40px;
}

.button:hover {
  background-color: black;
  color: #FFDB00;
}

.hidden{
  display: none;
}

.home{
  margin: 20px;
}

.profile{
  margin: 20px;
}

ul{
  display: inline;
  list-style: none;
}

#app{
  height: 100%;
}

.button{
  width: 8em;
  border: 1px solid white;
}

.callout{
  margin: 0px;
}

div.view{
  height: 100%;
}

#app>div{
  height: 100%;
}

.container{
  height: 100%;
}

.words{
  height: 100%;
}

form{
  height: 100%;
}

label{
  height: 100%;
}

.input-group{
  height: 50%;
}

.input-group-field{
  height: 100% !important;
}

li:first-letter{
  text-transform: uppercase;
}

.content{
  float:right;
  height: 100%;
  font-family: "Palatino Linotype";
}

.content> div{
  height: 100%;
}

.rootWord{
  min-height: 40%;
}

.rootWordList{
  height: 100%;
}

.rootWordList div{
  min-height: 40%;
}

.rootWord:first-letter{
  display: inline;
  text-transform: uppercase;
}
