// @import "*";
@import "foundation_and_overrides";

.hidden{
  display: none;
}

ul{
  display: inline;
}

li{

}

li:first-letter{
  text-transform: uppercase;
}

.content{
  float:right;
}

.rootWord:first-letter{
  display: inline;
  text-transform: uppercase;
}
